----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get data
This notebook demonstrates how to retrieve Pricing snapshots and Fundamental & Reference data using the get_data() function.

#### About the get_data function
The get_data() function allows you to retrieve pricing snapshots as well as Fundamental & Reference data via a single function call.


***get_data()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optionnal: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optionnal: Yes  
- ***parameters***: Additional parameters specific applied to Fundamental & Reference fields (a.k.a. "TR." fields)
    - Type: Dictionary
    - Optionnal: Yes  
    
**get_data()** returns a pandas.DataFrame with fields in columns and instruments as row index.  
It raises exceptions on error and when no data is available

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [1]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

## Some Imports to start with

In [2]:
import refinitiv.data as rd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [3]:
rd.open_session()

## Retrieve data

### Pricing snapshots

In [4]:
rd.get_data(['LSEG.L', 'VOD.L'])

,Instrument,SEE_RIC,ASK_TIM_NS,ACT_FLAG5,CRS_SEQNO,QUOTIM_MS,HLT_RSM_NS,GEN_VAL10,IRGPRC,HLT_RSM_MS,...,OF_NUM_MOV,TOT_MOVES,IMB_ACT_TP,LIST_DATE,OFFBK_HIGH,OFF_CD_IN2,BLKTIM_NS,HALT_RSN,PROV_SYMB,CAN_PRC
0,LSEG.L,None,14:39:41.762,A,None,52781762,08:20:00.015,88.11,<NA>,08:20:00.015,...,158,3641,6,2006-05-15,6790.0,25,None,1,5864,<NA>
1,VOD.L,None,14:39:52.714149,R,None,52793124,08:20:00.0121,25.77,113.0059,08:20:00.012,...,743,10391,6,2014-02-24,114.354,25,None,1,133215,113.0059

In [5]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['BID', 'ASK']
)

  Instrument     BID     ASK
0     LSEG.L  6764.0  6770.0
1      VOD.L  113.94  113.98

### Fundamental data

In [6]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.Revenue']    
)

  Instrument                  Date      Revenue
0     LSEG.L  2020-12-31T00:00:00Z   2444000000
1      VOD.L  2021-03-31T00:00:00Z  43809000000

### Mix of pricing snapshots and fundamental data

In [7]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'], 
    fields=['BID', 'ASK', 'TR.Revenue']
)

  Instrument     BID     ASK                  Date      Revenue
0     LSEG.L  6764.0  6770.0  2020-12-31T00:00:00Z   2444000000
1      VOD.L  113.94  113.98  2021-03-31T00:00:00Z  43809000000

### Fundamental fields with parameters

In [8]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.PriceTargetMean(Source=ThomsonReuters)']
)

  Instrument                  Date  Price Target - Mean
0     LSEG.L  2021-12-14T00:00:00Z           8835.64286
1      VOD.L  2021-12-14T00:00:00Z            166.09836

### Fundamental fields with global parameters

In [9]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.EV','TR.EVToSales'],
    parameters = {'SDate': '0CY', 'Curn': 'CAD'}
)

,Instrument,Date,Enterprise Value (Daily Time Series),Enterprise Value To Sales (Daily Time Series Ratio)
0,LSEG.L,2020-12-31T00:00:00Z,56552769131.751801,14.755207
1,VOD.L,2020-12-31T00:00:00Z,140836307372.359009,2.037394

### Close the session

In [10]:
rd.close_session()