# Refinitiv Data Library for Python

## Access layer - Get history
This notebook demonstrates how to retrieve Pricing history and Fundamental & Reference history using the get_history() function.

#### About the get_history function
The get_history() function allows you to retrieve pricing history as well as Fundamental & Reference data history via a single function call.


***get_history()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optionnal: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optionnal: Yes  
-  ***interval***: Dat interval  
    - Type: String
    - Supported values: *tick, tas, taq, minute, 1min, 5min, 10min, 30min, 60min, hourly, 1h, daily, 1d, 1D, 7D, 7d, weekly, 1W, monthly, 1M, quarterly, 3M, 6M, yearly, 1Y*       
    - Optionnal: Yes  
-  ***start***: The start date and timestamp of the requested history
    - Type: String expressed in ISO8601 with UTC only
    - Optionnal: Yes  
-  ***end***: The end date and timestamp of the requested history  
    - Type: String expressed in ISO8601 with UTC only
    - Optionnal: Yes  
-  ***adjustments*** : Tells the system whether to apply or not apply CORAX (Corporate Actions) events or exchange/manual corrections or price and volume adjustment according to trade/quote qualifier summarization actions to historical time series data. 
    - Type: String expressed in ISO8601 with UTC only
    - Optionnal: Yes  
    - Supported values:
        - exchangeCorrection - Apply exchange correction adjustment to historical pricing
        - manualCorrection - Apply manual correction adjustment to historical pricing i.e. annotations made by content analysts
        - CCH - Apply Capital Change adjustment to historical Pricing due to Corporate Actions e.g. stock split
        - CRE - Apply Currency Redenomination adjustment when there is redenomination of currency
        - RTS - Apply Refinitiv TimeSeries adjustment to adjust both historical price and volume
        - RPO - Apply Refinitiv Price Only adjustment to adjust historical price only not volume
        - unadjusted - Not apply both exchange/manual correct and CORAX
        - qualifiers - For tick, tas and taq intervals only. Apply price or volume adjustment to historical pricing according to trade/quote qualifier summarization actions e.g. noPrice, noVolume, noPriceAndVolume, noBid, noAsk, noBidAndAsk, outOfSessionIntraday, outOfSessionInterday.
-  ***count*** : The maximum number of data points returned. 
Values range: 1 - 10000
    
**get_history()** returns a pandas.DataFrame. It raises exceptions on error and when no data is available.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help.

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [25]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

## Some Imports to start with

In [26]:
import refinitiv.data as rd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [27]:
rd.open_session()

## Retrieve data

### Pricing history

In [28]:
rd.get_history("LSEG.L")

LSEG.L,TRDPRC_1,MKT_HIGH,MKT_LOW,ACVOL_UNS,MKT_OPEN,BID,ASK,TRNOVR_UNS,VWAP,MID_PRICE,...,CLS_AUCVOL,OPN_AUCVOL,OPN_AUC,CLS_AUC,INT_AUC,INT_AUCVOL,EX_VOL_UNS,ALL_C_MOVE,ELG_NUMMOV,NAVALUE
Date,,,,,,,,,,,,,,,,,,,,,
2021-11-18,6728.7024,6839.7811,6680,697709,6700,6680,6684,4694048229.6,6727.80232,6682,...,235971,18712,6700,6680,<NA>,<NA>,725223,6648,5982,None
2021-11-19,6680.0,6790.0,6636,1227919,6680,6702,6704,8217046746.09,6691.84744,6703,...,418259,13540,6680,6704,6726,20380,1282403,6832,6323,None
2021-11-22,6684.0,6856.0,6684,625896,6736,6684,6686,4217182628.2061,6737.83285,6685,...,242263,13647,6736,6684,<NA>,<NA>,688369,6840,6363,None
2021-11-23,6734.0,6766.0,6600,642256,6668,6734,6736,4303886557.0328,6701.20101,6735,...,242516,3217,6668,6734,<NA>,<NA>,694941,7210,6752,None
2021-11-24,6824.0,6832.0,6552,1809481,6780,6810,6812,12229515457.057541,6758.57626,6811,...,276206,9045,6780,6810,<NA>,<NA>,1943949,10446,9849,None
2021-11-25,6822.0,6872.0,6738,982614,6822,6824,6826,6702808788.36,6821.40575,6825,...,198533,2155,6822,6824,<NA>,<NA>,1141701,5848,5560,None
2021-11-26,6704.0,6880.52,6680,946540,6704,6824,6850,6433414329.78602,6796.76963,6837,...,230979,5822,6704,6850,<NA>,<NA>,1084983,9173,8736,None
2021-11-29,6764.3,6926.0,6754,1119681,6890,6870,6872,7678850720.20644,6858.06992,6871,...,340426,4129,6890,6870,<NA>,<NA>,1293553,8653,8291,None
2021-11-30,6502.0,6872.0,6502,2023297,6870,6502,6512,13234527793.25,6541.07024,6507,...,1560106,9295,6870,6502,<NA>,<NA>,2495199,7992,7365,None
2021-12-01,6752.0,6786.0,6532,1235156,6532,6752,6754,8239716493.48,6670.9932,6753,...,379918,9828,6532,6752,<NA>,<NA>,1416407,9035,8404,None
2021-12-02,6610.0,6704.0,6570,891113,6690,6580,6582,5898413269.72876,6619.1528,6581,...,300346,7654,6690,6582,<NA>,<NA>,951239,9792,9438,None
2021-12-03,6527.9473,6690.0,6506,708073,6640,6522,6524,4650062824.8002,6567.20803,6523,...,206125,7416,6640,6524,<NA>,<NA>,730958,5470,5113,None
2021-12-06,6590.0,6636.0,6522,383706,6556,6586,6590,2529928546.25,6593.40366,6588,...,135949,1630,6556,6590,<NA>,<NA>,396725,4615,4359,None
2021-12-07,6708.0,6732.0,6636,798893,6652,6712,6714,5344809963.42,6690.2698,6713,...,227969,11624,6652,6712,<NA>,<NA>,814156,5139,4855,None
2021-12-08,6758.0,6858.0,6726,932773,6764,6754,6758,6315136777.6166,6770.28256,6756,...,236695,12198,6764,6758,<NA>,<NA>,974768,6431,6020,None
2021-12-09,6794.0,6818.0,6632,924176,6794,6640,6642,6182064712.96218,6689.2718,6641,...,261876,7431,6794,6642,<NA>,<NA>,1007129,5293,4975,None
2021-12-10,6742.0,6750.0,6622,357852,6640,6740,6742,2405696489.967,6722.60177,6741,...,163569,6822,6640,6742,<NA>,<NA>,424150,3787,3495,None
2021-12-13,6700.0,6723.8,6598,1522242,6700,6676,6686,10189932120.15,6694.02902,6681,...,213392,7457,6700,6686,<NA>,<NA>,1564658,4548,4270,None
2021-12-14,6802.0,6836.0,6686,635812,6710,6768,6770,4314747007.2712,6786.19939,6769,...,311439,4350,6710,6770,<NA>,<NA>,694552,6191,5666,None
2021-12-15,6750.0,6820.0,6674,665560,6750,6740,6742,4495235717.6934,6754.06532,6741,...,253956,5951,6750,6740,<NA>,<NA>,754432,6753,6438,None

In [29]:
rd.get_history(universe="LSEG.L", fields=["BID", "ASK"], interval="1Y")

LSEG.L              BID          ASK
Date
2002-12-31   289.272527   292.481573
2003-12-31   304.400885   308.985235
2004-12-31   534.342576   536.185136
2005-12-31   567.048027   571.193788
2006-12-31  1205.780114   1206.70126
2007-12-31  1822.947934   1823.86908
2008-12-31    469.78446   476.232482
2009-12-31    658.61939   661.382828
2010-12-31   771.459775   771.920348
2011-12-31   729.547632    732.31107
2012-12-31   997.601118  1002.206848
2013-12-31  1595.424872  1596.346018
2014-12-31       2213.0       2221.0
2015-12-31       2742.0       2744.0
2016-12-31       2873.0       2914.0
2017-12-31       3786.0       3793.0
2018-12-31       4060.0       4062.0
2019-12-31       7722.0       7750.0
2020-12-31       9008.0       9016.0
2021-12-31       6740.0       6742.0

In [30]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields="BID", interval="1Y")

                 VOD.L       LSEG.L
                   BID          BID
Date
2002-12-31  113.417543   289.272527
2003-12-31  138.204158   304.400885
2004-12-31  141.208597   534.342576
2005-12-31  125.435296   567.048027
2006-12-31  141.586252  1205.780114
2007-12-31  188.146829  1822.947934
2008-12-31  139.280777    469.78446
2009-12-31  143.741371    658.61939
2010-12-31  166.194695   771.459775
2011-12-31  183.355671   729.547632
2012-12-31  158.245476   997.601118
2013-12-31  242.902706  1595.424872
2014-12-31      222.65       2213.0
2015-12-31       221.0       2742.0
2016-12-31       199.8       2873.0
2017-12-31      234.85       3786.0
2018-12-31       152.9       4060.0
2019-12-31      146.76       7722.0
2020-12-31      120.94       9008.0
2021-12-31      111.24       6740.0

In [31]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields=["BID", "ASK"], interval="1Y")

                 VOD.L                   LSEG.L
                   BID         ASK          BID          ASK
Date
2002-12-31  113.417543  113.667913   289.272527   292.481573
2003-12-31  138.204158  138.454528   304.400885   308.985235
2004-12-31  141.208597  141.458966   534.342576   536.185136
2005-12-31  125.435296  125.685666   567.048027   571.193788
2006-12-31  141.586252  141.836848  1205.780114   1206.70126
2007-12-31  188.146829  188.247067  1822.947934   1823.86908
2008-12-31  139.280777  139.330896    469.78446   476.232482
2009-12-31  143.741371  144.042085    658.61939   661.382828
2010-12-31  166.194695  166.345052   771.459775   771.920348
2011-12-31  183.355671  183.458162   729.547632    732.31107
2012-12-31  158.245476  158.296721   997.601118  1002.206848
2013-12-31  242.902706  243.056442  1595.424872  1596.346018
2014-12-31      222.65       222.7       2213.0       2221.0
2015-12-31       221.0       221.1       2742.0       2744.0
2016-12-31       199.8      199.85       2873.0       2914.0
2017-12-31      234.85       235.0       3786.0       3793.0
2018-12-31       152.9      153.06       4060.0       4062.0
2019-12-31      146.76      146.86       7722.0       7750.0
2020-12-31      120.94      120.96       9008.0       9016.0
2021-12-31      111.24      111.28       6740.0       6742.0

### Fundamental data

In [32]:
rd.get_history(universe="LSEG.L", fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

  Instrument                 Date     Revenue
0     LSEG.L  2014-12-31T00:00:00   957300000
1     LSEG.L  2015-12-31T00:00:00  1418600000
2     LSEG.L  2016-12-31T00:00:00  1657000000
3     LSEG.L  2017-12-31T00:00:00  1955000000
4     LSEG.L  2018-12-31T00:00:00  2135000000

In [33]:
rd.get_history(universe=["LSEG.L", "VOD.L"], fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

  Instrument                 Date      Revenue
0     LSEG.L  2014-12-31T00:00:00    957300000
1     LSEG.L  2015-12-31T00:00:00   1418600000
2     LSEG.L  2016-12-31T00:00:00   1657000000
3     LSEG.L  2017-12-31T00:00:00   1955000000
4     LSEG.L  2018-12-31T00:00:00   2135000000
5      VOD.L  2015-03-31T00:00:00  48385000000
6      VOD.L  2016-03-31T00:00:00  49810000000
7      VOD.L  2017-03-31T00:00:00  47631000000
8      VOD.L  2018-03-31T00:00:00  46571000000
9      VOD.L  2019-03-31T00:00:00  43666000000

### Fundamental and pricing

In [34]:
rd.get_history(
    universe='LSEG.L',
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2019-10-01",
)

LSEG.L       ASK   BID     Revenue
Date
2014-12-31  <NA>  <NA>   957300000
2015-12-31  2744  2742  1418600000
2016-12-31  2914  2873  1657000000
2017-12-31  3793  3786  1955000000
2018-12-31  4062  4060        <NA>
2019-12-31  7750  7722        <NA>

In [35]:
rd.get_history(
    universe=["IBM.N", "VOD.L"],
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2020-10-01",
)

                 IBM.N                            VOD.L
                   ASK         BID      Revenue     ASK     BID      Revenue
Date
2014-12-31        <NA>        <NA>  92793000000    <NA>    <NA>         <NA>
2015-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  48385000000
2015-12-31  131.411463   131.39236  81741000000   221.1   221.0         <NA>
2016-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  49810000000
2016-12-31  158.576327  158.547672  79919000000  199.85   199.8         <NA>
2017-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  47631000000
2017-12-31  146.636777  146.627226  79139000000   235.0  234.85         <NA>
2018-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  46571000000
2018-12-31  108.535285  108.516182  79591000000  153.06   152.9         <NA>
2019-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  43666000000
2019-12-31  127.991976  127.963321         <NA>  146.86  146.76         <NA>
2020-12-31  120.236044  120.159631         <NA>  120.96  120.94         <NA>

In [36]:
rd.get_history(
    universe=["IBM.N", "VOD.L"],
    fields=["BID", "ASK", 'TR.F.NetIncAfterTax', 'TR.RevenueMean'],
    interval="tick",
  
)

                          IBM.N                                             \
                            ASK    BID Net Income after Tax Revenue - Mean
Timestamp
2020-12-31 00:00:00.000    <NA>   <NA>           5611000000           <NA>
2021-03-31 00:00:00.000    <NA>   <NA>                 <NA>           <NA>
2021-12-14 00:00:00.000    <NA>   <NA>                 <NA>    68675200000
2021-12-15 00:00:00.000    <NA>   <NA>                 <NA>           <NA>
2021-12-15 20:59:59.276  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.276  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.365  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.446  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.446  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.463  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.825  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.825  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.825  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.825  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.870  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.920  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.960  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.979  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.986  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.987  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.991  123.11  123.1                 <NA>           <NA>
2021-12-15 20:59:59.991  123.11  123.1                 <NA>           <NA>
2021-12-15 21:00:00.233       0      0                 <NA>           <NA>
2021-12-15 21:00:02.165       0      0                 <NA>           <NA>
2021-12-16 12:58:53.013    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.013    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.013    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.014    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.014    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.014    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.041    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.505    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:53.505    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:54.258    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:54.526    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:54.533    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:55.130    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:56.204    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:56.956    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:59.041    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:58:59.288    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:59:01.201    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:59:05.358    <NA>   <NA>                 <NA>           <NA>
2021-12-16 12:59:05.358    <NA>   <NA>                 <NA>           <NA>

                         VOD.L
                           ASK     BID Net Income after Tax Revenue - Mean
Timestamp
2020-12-31 00:00:00.000   <NA>    <NA>                 <NA>           <NA>
2021-03-31 00:00:00.000   <NA>    <NA>            536000000           <NA>
2021-12-14 00:00:00.000   <NA>    <NA>                 <NA>           <NA>
2021-12-15 00:00:00.000   <NA>    <NA>                 <NA>    45189501610
2021-12-15 20:59:59.276   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.276   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.365   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.446   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.446   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.463   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.825   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.825   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.825   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.825   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.870   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.920   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.960   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.979   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.986   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.987   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.991   <NA>    <NA>                 <NA>           <NA>
2021-12-15 20:59:59.991   <NA>    <NA>                 <NA>           <NA>
2021-12-15 21:00:00.233   <NA>    <NA>                 <NA>           <NA>
2021-12-15 21:00:02.165   <NA>    <NA>                 <NA>           <NA>
2021-12-16 12:58:53.013  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.013  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.013  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.014  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.014  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.014  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.041  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.505  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:53.505  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:54.258  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:54.526  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:54.533  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:55.130  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:56.204  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:56.956  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:59.041  110.8  110.76                 <NA>           <NA>
2021-12-16 12:58:59.288  110.8  110.76                 <NA>           <NA>
2021-12-16 12:59:01.201  110.8  110.76                 <NA>           <NA>
2021-12-16 12:59:05.358  110.8  110.76                 <NA>           <NA>
2021-12-16 12:59:05.358  110.8  110.76                 <NA>           <NA>

### Open High Low Close

#### Get tick data

In [37]:
df=rd.get_history(universe="GOOG.O", fields=['BID','ASK'], interval="tick", count=2000)
df

GOOG.O                       BID      ASK
Timestamp
2021-12-16 10:28:43.028  2947.78   2980.3
2021-12-16 10:28:44.070  2947.78  2967.54
2021-12-16 10:28:51.405  2947.78   2967.5
2021-12-16 10:29:00.909  2938.32   2967.5
2021-12-16 10:29:01.912  2946.68   2967.5
...                          ...      ...
2021-12-16 12:56:53.354     2960  2964.28
2021-12-16 12:56:53.354     2960  2964.28
2021-12-16 12:58:50.560     2960     2968
2021-12-16 12:58:54.089     2960  2964.56
2021-12-16 12:58:55.723     2960  2964.56

[2000 rows x 2 columns]

#### Resample to 5 seconds bars

In [40]:
df.ohlc("5s")

GOOG.O                   BID                                 ASK           \
                        open     high      low    close     open     high
Timestamp
2021-12-16 10:28:40  2947.78  2947.78  2947.78  2947.78  2980.30  2980.30
2021-12-16 10:28:45      NaN      NaN      NaN      NaN      NaN      NaN
2021-12-16 10:28:50  2947.78  2947.78  2947.78  2947.78  2967.50  2967.50
2021-12-16 10:28:55      NaN      NaN      NaN      NaN      NaN      NaN
2021-12-16 10:29:00  2938.32  2946.68  2938.32  2946.68  2967.50  2967.50
...                      ...      ...      ...      ...      ...      ...
2021-12-16 12:58:35      NaN      NaN      NaN      NaN      NaN      NaN
2021-12-16 12:58:40      NaN      NaN      NaN      NaN      NaN      NaN
2021-12-16 12:58:45      NaN      NaN      NaN      NaN      NaN      NaN
2021-12-16 12:58:50  2960.00  2960.00  2960.00  2960.00  2968.00  2968.00
2021-12-16 12:58:55  2960.00  2960.00  2960.00  2960.00  2964.56  2964.56

GOOG.O
                         low    close
Timestamp
2021-12-16 10:28:40  2967.54  2967.54
2021-12-16 10:28:45      NaN      NaN
2021-12-16 10:28:50  2967.50  2967.50
2021-12-16 10:28:55      NaN      NaN
2021-12-16 10:29:00  2967.50  2967.50
...                      ...      ...
2021-12-16 12:58:35      NaN      NaN
2021-12-16 12:58:40      NaN      NaN
2021-12-16 12:58:45      NaN      NaN
2021-12-16 12:58:50  2964.56  2964.56
2021-12-16 12:58:55  2964.56  2964.56

[1804 rows x 8 columns]

### Close the session

In [41]:
rd.close_session()